*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #494949;
}
.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 230px;
  margin: 0 auto;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #7c7c7c;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
h3 {
  font-size: 24px;
  letter-spacing: 2px;
  color: #494949;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    top: 50px;
    background: rgba(0, 0, 0, 0.15);
    background-color: #2eb0ec;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  background: url(../img/headerBG.png) no-repeat center/cover;
  padding: 60px 0;
  position: relative;
  .header__picHeadphones {
    /*width: 40px;
    height: 1px;*/
    position: absolute;
    top: -27px;
    left: -416px;
  }
  .header__picEarphones {
    position: absolute;
    right: 0;
    margin-top: 400px;
  }
  .header__picPencils {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.363);
    .header__list {
      display: flex;
      align-items: center;
      margin-left: auto;
      justify-content: space-between;
    }
    .header__list li a {
      margin-right: 40px;
      color: #fff;
      font-size: 17px;
      line-height: 60px;
      color: #ffffff;
      text-align: right;
      text-transform: uppercase;
    }
    .header__login {
      max-width: 110px;
      height: 55px;
      border-radius: 10px;
      background-color: #479ee1b9;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 25px;
      font-size: 17px;
      color: #fff;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }
}
.header__textContent {
  display: flex;
  /*position: relative;*/
  /*.header__picEarphones {
    position: absolute;
    right: 0;
    margin-top: 430px;
  }*/
}
.header__text {
  max-width: 535px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  h1 {
    font-size: 40px;
    color: #fffefe;
    font-family: "Museo Slab";
    margin-top: 300px;
  }
  p {
    font-size: 26px;
    color: #fefefe;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 40px;
  }
  .header__btns {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    .header__btn {
      width: 240px;
      height: 80px;
      background-color: #479ee1b9;
      border-radius: 10px;
      box-shadow: 0 5px 2.5px rgba(0, 0, 0, 0.15);
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border: none;
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        color: #3e3e3e;
        transition: 0.3s;
      }
    }
    .header__btn:not(:last-child) {
      margin-right: 30px;
      display: flex;
      justify-content: center;
    }
  }
}
.services {
  background: #fff;
  padding: 100px 0;
  .services__title {
    position: relative;
    /*&::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      top: 75px;
      background: rgba(0, 0, 0, 0.15);
      background-color: #2eb0ec;
    }*/
  }
  .services__item {
    margin-top: 90px;
    margin-bottom: 160px;
    text-align: center;
    color: #7c7c7c;
    .services__pic {
      margin-bottom: 50px;
      min-height: 110px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.5);
        transition: 0.3s;
      }
    }
    .servises__subTitle {
      font-size: 18px;
      color: #494949;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      max-width: 310px;
      width: 100%;
      min-height: 82px;
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
    }
  }
}
.unlimited {
  padding: 35px 0;
  background: url(../img/featuresBG.jpg) no-repeat center/cover;
  position: relative;
  .unlimited__pic {
    position: absolute;
    left: -445px;
    top: 120px;
  }
  .unlimited__back {
    position: absolute;
    z-index: 0;
  }
  .unlimited__title {
    font-size: 22px;
    color: #7c7c7c;
    margin-top: 130px;
    font-weight: 600;
  }
  .unlimited__subtitle {
    font-size: 32px;
    color: #494949;
  }
  .unlimited__text {
    width: 540px;
    height: 82px;
    font-size: 20px;
    line-height: 32px;
    color: #7c7c7c;
    font-weight: 500;
  }
  .features {
    margin: 25px 0 30px 0;
  }
  .features__item {
    padding-left: 40px;
    line-height: 30px;
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 500;
    position: relative;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #66d4f4;
      border: 5px solid #c8ebf5;
      display: block;
      left: 0;
      top: 4px;
      position: absolute;
    }
  }
  .unlimited__btn {
    margin-bottom: 180px;
    .readMore__btn {
      cursor: pointer;
      width: 160px;
      height: 50px;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      border: none;
      box-shadow: 0 5px 2.5px rgba(0, 0, 0, 0.15);
      background: #66d4f4;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        color: #3e3e3e;
        transition: 0.3s;
      }
    }
  }
}

// .features {
//   background: url(../img/featuresBG.jpg) no-repeat center/cover;
//   min-height: 850px;
//   position: relative;
//   padding: 100px 0;
//   .iPad__pic {
//     position: absolute;
//     left: -580px;
//     top: 50px;
//   }
//   .iPhone__pic {
//     position: absolute;
//     top: 144px;
//     left: -3px;
//   }
//   .features__item {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-left: 50px;
//     .features__title {
//       font-size: 22px;
//       color: #494949;
//     }
//     .features__subTitle {
//       font-size: 32px;
//       color: #494949;
//     }
//     .features__text {
//       width: 540px;
//       height: 82px;
//       font-size: 20px;
//       line-height: 32px;
//       color: #7c7c7c;
//       font-weight: 500;
//       margin-bottom: 35px;
//     }
//     /* .features__list {
//       margin-top: 70px;
//     }
//     &li a {
//       width: 540px;
//       height: 12px;
//       font-size: 14px;
//       line-height: 30px;
//       color: #7c7c7c;
//       font-weight: 500;
//       margin-top: 70px;
//     }*/
//   }
// }
.other {
  padding: 60px 0 120px 0;
  .others__item {
    margin-top: 120px;
    justify-content: space-between;
  }
  .others__title img {
    margin-right: 25px;
    max-width: 50px;
    min-height: 50px;
  }
  .others__title h6 {
    font-size: 18px;
    color: #494949;
    font-weight: 600;
  }
  .others__desc {
    margin-top: 30px;
    margin-left: 70px;
    max-width: 261px;
    width: 100%;
    min-height: 113px;
    font-size: 14px;
    line-height: 26px;
    color: #7c7c7c;
    font-weight: 500;
  }
}
.resourse {
  padding: 50px 0 60px 0;
  .resourse__title {
    font-size: 22px;
    color: #7c7c7c;
  }
  .resourse__subTitle {
    font-size: 32px;
  }
  .resourse__text {
    max-width: 463px;
    width: 100%;
    min-height: 82px;
    font-size: 20px;
    line-height: 32px;
    color: #7c7c7c;
    font-weight: 500;
  }
  .resourse__desc {
    max-width: 445px;
    width: 100%;
    min-height: 113px;
    font-size: 14px;
    line-height: 26px;
    color: #7c7c7c;
    font-weight: 500;
  }
}
