*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #fff;
  min-height: 100vh;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 230px;
  margin: 0 auto;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #7c7c7c;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #494949;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: url(../img/headerBG.png) no-repeat center/cover;
  padding: 60px 0;
  position: relative;
}

.header .header__picHeadphones {
  /*width: 40px;
    height: 1px;*/
  position: absolute;
  top: -27px;
  left: -416px;
}

.header .header__picEarphones {
  position: absolute;
  right: 0;
  margin-top: 400px;
}

.header .header__picPencils {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.363);
}

.header .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header__nav .header__list li a {
  margin-right: 40px;
  color: #fff;
  font-size: 17px;
  line-height: 60px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
}

.header .header__nav .header__login {
  max-width: 110px;
  height: 55px;
  border-radius: 10px;
  background-color: #479ee1b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 25px;
  font-size: 17px;
  color: #fff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__nav .header__login:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*position: relative;*/
  /*.header__picEarphones {
    position: absolute;
    right: 0;
    margin-top: 430px;
  }*/
}

.header__text {
  max-width: 535px;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.header__text h1 {
  font-size: 40px;
  color: #fffefe;
  font-family: "Museo Slab";
  margin-top: 300px;
}

.header__text p {
  font-size: 26px;
  color: #fefefe;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 80px;
}

.header__text .header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 200px;
}

.header__text .header__btns .header__btn {
  width: 240px;
  height: 80px;
  background-color: #479ee1b9;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 2.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 2.5px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__text .header__btns .header__btn:hover {
  background-color: #fff;
  color: #3e3e3e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__text .header__btns .header__btn:not(:last-child) {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services {
  background: #fff;
  padding: 100px 0;
}

.services .services__title {
  position: relative;
}

.services .services__title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  top: 65px;
  background: rgba(0, 0, 0, 0.15);
  background-color: #2eb0ec;
}

.services .services__item {
  margin-top: 80px;
}

.services .services__item .servises__subTitle {
  font-size: 18px;
  color: #494949;
  font-weight: 700;
}
